body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

.logoana {
  width:12rem;
  height:4rem;

}

#Hero-Section {
  background-image: url("../img/anah.jpg");
  background-repeat: no-repeat;
  background-size:140rem;
  background-position: left;
  height: 90rem;
  width: auto;
  font: family #707070; 
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
